body{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: rgb(169, 169, 250);
}
.cajaPrincipal {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
}
.cajaPrincipal01{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    background-color: rgb(231, 238, 246);
}
.cajaPrincipal img {
    width: 70%;
}
.cajaPrincipal01 button{
    font-size: 15px;
    margin-top: 2%;
    padding: 2%;
}
.cajaPrincipal01{
    display: flex;
}
.botonCompras{
    background-color:rgb(220, 220, 248);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    border-color:  #3f4a93;
}

.contenedorInicioSesion.img{
    text-align: center;
}
input{
    padding: 2%;
    width: 80%;
    font-size: 30px;
}
.tituloProducto{
    text-align: center;
    color: rgb(1, 6, 56);
}